<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationCommon.js"></script>
        <% if (formMode == 'edit') { %>
            <script type="application/javascript" src="/js/validationUpdateReservation.js"></script>
        <% } else { %>
            <script type="application/javascript" src="/js/validationReservation.js"></script>
        <% } %>
        

        <h2><%= pageTitle %></h2>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return true || validateForm();">
            <input type="hidden" name="_id" value="<%= reservation._id %>">

            <% if (formMode == 'createNewFromClient') { %>
                <label>Dane klienta:</label>
                <input type="text" value="<%= reservation.client.firstName + ' ' + reservation.client.lastName %>" disabled/>
                <span></span>
            <% } %>

            <% if (formMode == 'createNewFromRoom') { %>
                <label>Dane pokoju:</label>
                <input type="text" value="Numer pokoju: <%= reservation.room.numberRoom + ' Liczba miejsc ' + reservation.room.numberOfSpace %>" disabled/>
                <span></span>
            <% } %>

            <% if (formMode == 'createNew' || formMode == 'createNewFromRoom') { %>
            <label for="firstName" >Imię:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" value="<%= reservation.client.firstName %>"
                class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>"/>
            <span id="errorFirstName" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                    <%= validationErrors.find(e => e.path.includes('firstName')).message %>
                <% } %>
            </span>

            <label for="lastName">Nazwisko:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków" value="<%= reservation.client.lastName %>"
                class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>"/>
            <span id="errorLastName" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                    <%= validationErrors.find(e => e.path.includes('lastName')).message %>
                <% } %>
            </span>

            <label for="email">e-mail:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="email" name="email" id="email" placeholder="np. test@test.pl" value="<%= reservation.client.email %>"
                class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"/>
            <span id="errorEmail" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                    <%= validationErrors.find(e => e.path.includes('email')).message %>
                <% } %>
            </span>

            <label for="phone">Numer telefonu:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="phone" name="phone" id="phone" placeholder="9 cyfr" value="<%= reservation.client.phone %>"
                class="<%= validationErrors.find(e => e.path.includes('phone')) ? 'error-input' : '' %>"/>
            <span id="errorPhone" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('phone'))) { %>
                    <%= validationErrors.find(e => e.path.includes('phone')).message %>
                <% } %>
            </span>
            <% } else { %>
                <input type="hidden" name="firstName" id="firstName" placeholder="2-60 znaków" value="<%= reservation.client.firstName %>"/>
                <input type="hidden" id="errorFirstName" class="errors-text" />

                <input type="hidden" name="lastName" id="lastName" placeholder="2-60 znaków" value="<%= reservation.client.lastName %>"/>
                <input type="hidden" id="errorLastName" class="errors-text" />

                <input type="hidden" name="email" id="email" placeholder="np. test@test.pl" value="<%= reservation.client.email %>"/>
                <input type="hidden" id="errorEmail" class="errors-text" />

                <input type="hidden" name="phone" id="phone" placeholder="9 cyfr" value="<%= reservation.client.phone %>"/>
                <input type="hidden" id="errorPhone" class="errors-text" />
            <% } %>

            <label for="dateFrom">Data początku rezerwacji:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="date" name="dateFrom" id="dateFrom"
                class="<%= validationErrors.find(e => e.path.includes('dateFrom')) ? 'error-input' : '' %>"
                value="<%= reservation.dateFrom ? reservation.dateFrom.toISOString().split('T')[0] : '' %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorDateFrom" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('dateFrom'))) { %>
                    <%= validationErrors.find(e => e.path.includes('dateFrom')).message %>
                <% } %>
            </span>

            <label for="dateTo">Data końca rezerwacji:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="date" name="dateTo" id="dateTo"
                class="<%= validationErrors.find(e => e.path.includes('dateTo')) ? 'error-input' : '' %>"
                value="<%= reservation.dateTo ? reservation.dateTo.toISOString().split('T')[0] : '' %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorDateTo" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('dateTo'))) { %>
                    <%= validationErrors.find(e => e.path.includes('dateTo')).message %>
                <% } %>
            </span>

            <label for="visitors">Liczba gości:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="visitors" id="visitors" placeholder="min 1 max 5" value="<%= reservation.visitors %>"
                class="<%= validationErrors.find(e => e.path.includes('visitors')) ? 'error-input' : '' %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorVisitors" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('visitors'))) { %>
                    <%= validationErrors.find(e => e.path.includes('visitors')).message %>
                <% } %>
            </span>
            
            <% if (formMode == 'showDetails' || formMode == 'edit') { %>
            <label for="spendDays">Liczba spędzonych dni:</label>
            <input type="number" name="spendDays" id="spendDays" value="<%= reservation.spendDays %>"
                class="<%= validationErrors.find(e => e.path.includes('spendDays')) ? 'error-input' : '' %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span>
                <% if (validationErrors.find(e => e.path.includes('spendDays'))) { %>
                    <%= validationErrors.find(e => e.path.includes('spendDays')).message %>
                <% } %>
            </span>
            <% } %>
            
            <%  if (formMode == 'createNewFromRoom') { %>
                <input type="hidden" name="numberRoom" id="numberRoom" value="<%= reservation.room.numberRoom %>"/>
                <input type="hidden" id="errorNumberRoom" class="errors-text" />
            <% }  %> 
            <% if (formMode != 'showDetails' && formMode != 'createNewFromRoom') { %>
                <label for="numberRoom">Numer pokoju:<abbr title="required" aria-label="required">*</abbr></label>
                <select id="numberRoom" name="numberRoom" required
                    class="<%= validationErrors.find(e => e.path.includes('numberRoom')) ? 'error-input' : '' %>">
                    <option value="" selected>--- Wybierz pokój ---</option>
                    <% for (let i=0; i<allRooms.length; i++) { let room = allRooms[i]; %>
                        <option value="<%= room._id %>" label="<%= room.numberRoom + ' Liczba miejsc ' + room.numberOfSpace %>"
                            <%= (reservation._id && room._id.toString() == reservation.room._id.toString()) ? 'selected' : ''%>></option>
                    <% } %>
                </select>
                <span id="errorNumberRoom" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('numberRoom'))) { %>
                        <%= validationErrors.find(e => e.path.includes('numberRoom')).message %>
                    <% } %>
                </span>
            <% } %>
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode == 'showDetails') { %>
                    <% if (loggedUser) { %>
                    <a href="/reservation/edit/<%= reservation._id %>" class="form-button-edit">Edytuj</a>
                    <% } %>
                <% } else { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                    <a href="/reservation" class="form-button-cancel">Anuluj</a>
                <% } %>
            </div>

            <input type="hidden" name="clientId" value="<%= reservation.client._id %>">
            <input type="hidden" name="roomId" value="<%= reservation.room._id %>">
        </form>
        
        <% if (formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>Dane pokoju i goscia</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Dane klienta:</th>
                    <th>Dane pokoju:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= reservation.client.firstName + '  ' + reservation.client.lastName %></td>
                    <td><%= 'Numer pokoju: ' + reservation.room.numberRoom + ' Liczba miejsc: ' + reservation.room.numberOfSpace %></td>
                </tr>
            </tbody>
        </table>
        <% } %>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode == 'showDetails') { %>
                <a class="form-button-cancel" href="/reservation">Powrót</a>
            <% } %>
        </div>
    </main>
<%- include('../../fragments/footer.ejs') %>