<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationCommon.js"></script>
        <script type="application/javascript" src="/js/validationRoom.js"></script>
        <h2><%= pageTitle %></h2>
        <form class="form" method="POST" action="<%=formAction%>" novalidate onsubmit="return validateForm();">

            <input type="hidden" name="_id" value="<%= room._id %>">
        
            <label for="numberRoom">Numer:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="numberRoom" id="numberRoom" placeholder="Przediał od 1-100" value="<%= room.numberRoom %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                class="<%= validationErrors.find(e => e.path.includes('numberRoom')) ? 'error-input' : '' %>"/>
            <span id="errorNumberRoom" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('numberRoom'))) { %>
                    <%= validationErrors.find(e => e.path.includes('numberRoom')).message %>
                <% } %>
            </span>
        
            <label for="numberOfSpace">Ilość miejsc:<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="numberOfSpace" id="numberOfSpace" placeholder="Przediał od 1-5" value="<%= room.numberOfSpace %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
                class="<%= validationErrors.find(e => e.path.includes('numberOfSpace')) ? 'error-input' : '' %>"/>
            <span id="errorNumberOfSpace" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('numberOfSpace'))) { %>
                    <%= validationErrors.find(e => e.path.includes('numberOfSpace')).message %>
                <% } %>
            </span>
            
            <% if (formMode == 'showDetails' && loggedUser) { %>
                <div class="form-buttons">
                    <a href="/rooms/edit/<%= room._id %>" class="form-button-edit">Edytuj</a>
                </div>
            <% } %>
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>" />
                <a href="/rooms" class="form-button-cancel">Anuluj</a>
                <% } %>
            </div>
        </form>
                <% if (formMode == 'showDetails' || formMode == 'edit') { %>
                <h2>
                    Szczegóły pokoju
                </h2>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th>Data początku rezerwacji:</th>
                            <th>Data końca rezerwacji:</th>
                            <th>Liczba gości:</th>
                            <th>Dane klienta:</th>
                            <th>Liczba spędzonych dni:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let res of room.reservations) { %>
                        <tr>
                            <td><%= res.dateFrom.toDateString() %></td>
                            <td><%= res.dateTo.toDateString() %></td>
                            <td><%= res.visitors %></td>
                            <td><%= res.client.firstName %> <%= res.client.lastName %></td>
                            <td><%= res.spendDays %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } %>
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode == 'showDetails') { %>
                    <a class="form-button-cancel" href="/rooms">Powrót</a>
                <% } %>
            </div>
    </main>
<%- include('../../fragments/footer.ejs') %>